/* UNIVERSAL CSS */

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

a, span {
  color: #666666;
  text-decoration: none;
}

a:hover {
  color: grey;
  text-decoration: none;
}

input.minutes {
  width: 70px;
}

.displayErrors input:invalid, .displayErrors select:invalid {
  border-color: pink;
}

textarea:hover,
input:hover,
textarea:active,
input:active,
textarea:focus,
input:focus,
button:focus,
button:active,
button:hover,
label:focus,
.btn:active,
.btn.active
{
    outline:0px !important;
    -webkit-appearance:none;
    -webkit-box-shadow: none!important;
    box-shadow: none!important;
}


/* HEADER CSS */

#header-band {
  background: #ACC0A6;
  border-color: black;
  border-bottom: .5px solid #e6e6e6;
  height: 85px;
}

#authentication-links {
  float: right;
  margin-right: 50px;
  margin-top:11px;
  font-size: 23px;
  font-weight: lighter;
}

#header-dropdown-button {
  float:right;
  margin-right: 35px;
  margin-top:7px;
}

#dropdown-menu-align-right {
  background: none;
  border: none;
  outline: none;
  font-size: 20px;
  font-weight: lighter;
}

#rabit-logo-wrapper {
  float:left;
  margin-left: 30px;
}
#rabit-logo {
  height: 80px;
}


/* HOME CSS */

#home {
  max-width: 1100px;
  margin: auto;
}

#create-task-button {
  float:right;
  margin-right: 30px;
  font-weight: lighter;
}

#account-link {
  margin-top: 60px;
}

#account-name {
  font-weight: lighter;
}

#avatar {
  height: 50px;
  margin-right: 10px;
  width: auto;
}

#your-tasks {
  margin-top: 40px;
  background-color: lightgrey;
  float: left;
  width: 500px;
  border-radius: 3px;
  margin-bottom: 50px;
  font-weight: lighter;
}

#available-tasks {
  margin-top: 40px;
  background-color: lightgrey;
  float: right;
  width: 500px;
  border-radius: 3px;
  margin-right: 20px;
  font-weight: lighter;
}

.task-header {

  background-color: whitesmoke;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  color: #666666;
  padding: 15px;
}

#your-tasks-title, #available-tasks-title {
  font-weight: lighter;
}

.task {
  border-top: .5px solid #e6e6e6;
  padding: 10px;
}

.task-title {
  margin-right: 10px;
}
.task-time {
  margin-right: 10px;
  font-size: 10px;
  padding-top: 7.5px;
}
.edit-task {
  margin-left: auto;
  margin-right: 5px;
  color: green;
  margin-top: 2px;
  font-size: 14px;
  border:none;
  background: none;
}
.add-task {
  margin-left: auto;
  margin-right: 5px;
  color: green;
  border:none;
  background: none;
}

/* ACCOUNT CSS */

#account-header {
  margin-top: 50px;
}

#avatar-account-page {
  height: auto;
  width: 100px;
  margin-right: 10px;
}

#your-tasks-account-page {
  margin-top: 40px;
  background-color: lightgrey;
  width: 600px;
  border-radius: 7px;
  margin-bottom: 50px;
}

#avatar-container-account-page {
  float:left;
  width: 125px;

}

.task-header-account-page {
  border: .5px solid #e6e6e6;
  background-color: whitesmoke;
  border-top-left-radius: 7px;
  border-top-right-radius: 7px;
  margin-bottom: 20px;
  color: #666666;
  padding: 20px;
}


/* LOGIN CSS */

.App {
  text-align: center;
  margin-top: 30px;
}

::placeholder {

  color: lightgrey;

}

#username-entry, #password-entry {
  font-size: 30px;
  font-weight: lighter;
}

#logout-button, #submit-button {
  font-size: 25px;
  border-radius: 7px;
  font-weight: lighter;

}

#logged-in-username {
  font-size: 40px;
  font-weight: lighter;
}

#sign-up {
  font-weight: lighter;
}
#sign-up-button {
  cursor: pointer;
}
