a {
  color: darkgrey;
  text-decoration: none;
}

#header-band {
  background: whitesmoke;
  border-color: black;
  border-bottom: .5px solid #e6e6e6;
}

#authentication-links {
  float: right;
  margin: 30px;
}

#rabit-logo {
  height: auto;
  width: 200px;
}

#navigation-links {
  float: right;
  margin-right: 30px;
  margin-top: -30px;
}
