a:hover {
  color: grey;
  text-decoration: none;
}

#home {
  align: center;
}

#account-link {
  margin-top: 10px;
}

#avatar {
  float: left;
  height: 50px;
  margin-right: 10px;
  width: auto;
}

#your-tasks {
  background-color: lightgrey;
  float: left;
  width: 450px;
  border-radius: 7px;
  margin-right: 50px;
  margin-bottom: 50px;
}

#available-tasks {
  background-color: lightgrey;
  float: left;
  width: 450px;
  border-radius: 7px;
}

.task-header {
  background-color: grey;
  border-top-left-radius: 7px;
  border-top-right-radius: 7px;
  margin-bottom: 20px;
}
